attrdict @ git+https://github.com/akitenkrad/attrdict
argostranslate
black
click
colorama
flake8
ipadic
ipython
ipywidgets
isort
jupyterlab
kaleido
mecab-python3
mypy
nltk
numpy
pandas
plotly
progressbar
py-cpuinfo
pykakasi
pypdf
pytest
python-dateutil
python-dotenv
requests
scikit-learn
scipy
sumeval
tqdm
types-python-dateutil
types-PyYAML
types-requests
typing-extensions
types-toml
unidic
wordcloud
